.container {
  width: 800px;
  border: 1px solid black;
  margin: auto;
  padding: 5px;
  /* membersihkan float bisa juga dengan clear */
  overflow: auto;
}
.kiri {
  width: 150px;
  height: 500px;
  background-color: blueviolet;
  float: left;
}
.tengah {
  width: 500px;
  height: 500px;
  background-color: brown;
  float: left;
}
.kanan {
  width: 150px;
  height: 500px;
  background-color: cadetblue;
  float: left;
}